<!doctype html>
<html>
   <head>
      <title>Roulette Game</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div class="container">
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

      <div class="title">
      <h1>Roulette</h1>
      </div>

      <div class="roulette">
         <table>
            <tr class="nums">
               <td class="green zero" rowspan="3">0</td>
               <td data-value="red" class="num red">3</td>
               <td data-value="black" class="num black">6</td>
               <td data-value="red" class="num red">9</td>
               <td data-value="red" class="num red">12</td>
               <td data-value="black" class="num black">15</td>
               <td data-value="red" class="num red">18</td>
               <td data-value="red" class="num red">21</td>
               <td data-value="black" class="num black">24</td>
               <td data-value="red" class="num red">27</td>
               <td data-value="red" class="num red">30</td>
               <td data-value="black" class="num black">33</td>
               <td data-value="red" class="num red">36</td>
            </tr>
            <tr class="nums">
               <td class="hidden"></td>
               <td data-value="black" class="num black">2</td>
               <td data-value="red" class="num red">5</td>
               <td data-value="black" class="num black">8</td>
               <td data-value="black" class="num black">11</td>
               <td data-value="red" class="num red">14</td>
               <td data-value="black" class="num black">17</td>
               <td data-value="black" class="num black">20</td>
               <td data-value="red" class="num red">23</td>
               <td data-value="black" class="num black">26</td>
               <td data-value="black" class="num black">29</td>
               <td data-value="red" class="num red">32</td>
               <td data-value="black" class="num black">35</td>
            </tr>
            <tr class="nums">
               <td class="hidden"></td>
               <td data-value="red" class="num red">1</td>
               <td data-value="black" class="num black">4</td>
               <td data-value="red" class="num red">7</td>
               <td data-value="black" class="num black">10</td>
               <td data-value="black" class="num black">13</td>
               <td data-value="red" class="num red">16</td>
               <td data-value="red" class="num red">19</td>
               <td data-value="black" class="num black">22</td>
               <td data-value="red" class="num red">25</td>
               <td data-value="black" class="num black">28</td>
               <td data-value="black" class="num black">31</td>
               <td data-value="red" class="num red">34</td>
         </table>
      </div>
      <div class="jumbotron text-center">
      <section class="secPlayerTotal">
        <h3>Player Winnings: $ <span class="player-winnings"><%= playerWinnings %></span></h3>
        <% if (betSquare !== 0) { %>
          <h3 class="bet-text">Last bet was on box: <%= betSquare %> and selected box was <%= resultSquare %></h3>
        <% } %>
      </section>
      </div>

      <div class="jumbotron text-center">
        <div class="info-section">
          <section class="secBetAmount">
            <h3>Bet Amount:</h3>
            <p> $ <span class="bet-amount">0</span></p>
          </section>
          <section class="pending-square-section">
            <h3>Pending Box:</h3>
            <p class="pending-square">Not yet selected</p>
          </section>
          <h3 class="player-selection"></h3>
        </div>
        <section class="secPokerChips">
          <button class="pokerchips" data-value="1">$1</button>
          <button class="pokerchips" data-value="10">$10</button>
          <button class="pokerchips" data-value="50">$50</button>
          <button class="pokerchips" data-value="100">$100</button>
        </section>
        <div class="bets-resets">
          <button id="submit-bet" type="button" name="submitBet">BET</button>
          <button id="reset-bet" type="button" name="resetBet">RESET</button>
        </div>
      </div>
   </body>
   <script type="text/javascript" src="main.js" ></script>
</html>
