body {
  padding-top: 80px;
  word-wrap: break-word;
}

.title h1{
  text-align: center;
  font-size: 111px;
  font-family: monospace;
  font-weight: 800;
}

button{
  background: orange;
}

.jumbotron {
  display: flex;
  flex-direction: row;
}

.secBetAmount {
  display: flex;
  flex-direction: column;
}
.secPokerChips {
  display: flex;
}

img {
  height: 200px;
}

.fa-trash::before {
  content: '\f014';
}

.num:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pokerchips {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  background-color: yellow;
  font-size: 20px;
  text-align: center;
}

.pokerchips:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.bets-resets {
  margin-left: auto;
}

.info-section {
  width: 30%;
  text-align: left;
}

body.moving {
  cursor: move;
}

.roulette {
  background: #1c7022;
  display: table;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.roulette table {
  float: left;
  width: 100%;
}

.roulette table,
tr {
  border-collapse: collapse;

}
.roulette td {
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  color: white;
  white-space: nowrap;
}
/* elements */
.roulette .sector {
  background: #1c7022;
  color: #8eb891;
}
.roulette .sector .vt {
  font-size: 20px;
}
.roulette .num {
  font-size: 30px;
  z-index: 1;
}
.roulette .num span {
  display: block;
  transform: rotate(270deg);
}
.roulette .zero {
  width: 70px;
  font-size: 56px;
}
.roulette .empty {
  border: none;
}
/* colors */
.roulette .green {
  background: #1c7022;
  color: #8eb891;
}
.roulette .red {
  background: #a91607;
  color: #8eb891;
}
.roulette .black {
  background: #0e3811;
  color: #8eb891;
}
